:root {
  --heading: #20063b; /*planning to use it for heading*/
  --color-primary: #7868e6;
  --color-secondary: #f18805;
  --white: #fcfcfc;
}

/* accent color : #f18805 tangerine*/
/*white: FCFCFC*/
/* spanish violet: 46237A */
/*russian violet: 20063B*/
