<section class="container">
      <div class="card">
        <div class="card_image">
          <svg class="icon icon__primary">
            <use xlink:href="Assets/sprite.svg#user-avatar"></use>
          </svg>
        </div>
        <div class="content">
        <h3>Lorem ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="card ">
        <div class="card_image">
          <svg class="icon">
            <use xlink:href="Assets/sprite.svg#user-avatar"></use>
          </svg>
        </div>
        <div class="content">
        <h3>Lorem ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card_image">
          <svg class="icon icon__secondary">
            <use xlink:href="Assets/sprite.svg#icon-brand-recognition"></use>
          </svg>
        </div>
        <div class="content">
        <h3>Lorem ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </section>