<svg class="icon">
  <use xlink:href="#19101912731618498739"></use></svg
><svg class="icon">
  <use xlink:href="#icon-brand-recognition"></use></svg
><svg class="icon">
  <use xlink:href="#icon-detailed-records"></use></svg
><svg class="icon">
  <use xlink:href="#icon-fully-customizable"></use></svg
><svg class="icon">
  <use xlink:href="#illustration-working"></use></svg
><svg class="icon">
  <use xlink:href="#undraw_link_shortener_mvf6"></use></svg
><svg class="icon">
  <use xlink:href="#user-avatar"></use>
</svg>

<span class="icon_container">
  <svg class="icon icon__primary">
    <use xlink:href="Assets/sprite.svg#user-avatar"></use>
  </svg>
</span>
